@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}


@mixin align($vertical:center, $display: inline-block) {
    display: $display;
    vertical-align: $vertical;
}


@mixin site_width($width: $site_width) {
    margin: 0 auto;
    max-width: $width;
}
 
